{% extends "layout.html" %}
{% block content %}
<body>
    <div class="col-md-3 mx-3">
        <!-- Button group for buttons -->
        <div class="btn-group-vertical my-5" role="group">
        {% for function in data_analysing_functions %}
            <button type="button" class="btn btn-primary">{{ function }}</button>
        {% endfor %}
        </div>
    </div>
    <div class="col-md-8 mx-5">
        <!-- Checkboxes for filenames -->
        <div class="form-check my-5">
        {% for filename in filenames %}
            <div class="form-check-item mb-3">
            <input class="form-check-input" type="checkbox" id="{{ filename }}" value="{{ filename }}">
            <label class="form-check-label" for="{{ filename }}">
            {{ filename }}
            </label>
            <p></p>
        {% endfor %}
        </div>
    </div>
    


    
    <script src="{{ url_for('static',filename = 'available_data.js') }}"></script>
</body>
{% endblock %}