{% extends "layout.html" %}
{% block content %}
<body>
    <!-- Functions available -->
    <div class="col-md-3 mx-3">
        <!-- Button group for buttons -->
        <div class="btn-group-vertical my-5" role="group">
        {% for function in data_analysing_functions %}
            <button type="button" class="btn btn-primary">{{ function }}</button>
        {% endfor %}
        </div>
    </div>


    <div class="col-md-8 mx-5">
        <!-- Checkboxes for filenames -->
        <div class="form-check my-5 filename-list">
            {% for depart in depart_dest %}
            <div class="depart_dest-item mb-4 mt-4">
              <div class="depart_dest-title d-flex justify-content-between align-items-center">

                <span>{{ depart[0] }}</span>
                <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
                  <i class="fa fa-caret-down"></i>
                </button>


                <div class="dropdown dates_checked {{depart[0]}}" style="position:absolute; left:0;">
                  <table class="table" >
                    <thead>
                      <tr>
                        <th>Time when checked</th>
                        <th>Date start of the file</th>
                        <th>Date end of the file</th>
                        <!-- Add more column headers here as needed -->
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in dates_checked[depart[0]] %}
                        <tr>
                          <td>{{ row[0]}}</td>
                          <td>{{ row[2] }}</td>
                          <td>{{ row[3] }}</td>
                          <!-- Add more column values here as needed -->
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
    

    <script>
      $(document).ready(function() {
        var button = $(".dropdown-toggle");
        var table = $(".dates_checked ");

        $(".dropdown-toggle").on('click', function() {
          $(this).siblings(".dates_checked").slideToggle(); 
        });
      });
    </script>
    

    <style>
      .depart_dest-item {
        position: relative;
      }

      .dropdown {
        position: relative;
        top: 100%;
        left: 0;
        z-index: 1; /* Set a high z-index value */
        display: none;
        float: left;
        min-width: 10rem;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
      }


      .dropdown .table {
        margin-top: 10px;
      }
  </style>

</body>
{% endblock %}