{% extends "layout.html" %}
{% block content %}


<!DOCTYPE html>
<html>
<head>
    <title>Flight Search Form</title>
    <!-- Include the Bootstrap CSS file for styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Flight Search Form</h1>
        <form method="post" action="{{ url_for('flight_request') }}">
            {{ form.csrf_token }}
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="{{ form.fly_from.id }}">From</label>
                    {{ form.fly_from(class="form-control", placeholder="Enter city or airport") }}
                </div>
                <div class="form-group col-md-4">
                    <label for="{{ form.fly_to.id }}">To</label>
                    {{ form.fly_to(class="form-control", placeholder="Enter city or airport") }}
                </div>
                <div class="form-group col-md-4">
                    <label for="{{ form.flight_type.id}}">{{ form.flight_type.label }}</label>
                    {{ form.flight_type(class = "form-control flight_type")}}
                </div>
            </div>

            <!-----------------------------------------------THE FIELDS TO MAKE DISAPPEAR ARE HERE---------------------------------------------->
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="{{ form.date_from.id }}">Depart from date</label>
                    {{ form.date_from(class="form-control", placeholder="MM/DD/YYYY") }}
                </div>
                <div class="form-group col-md-3 ">
                    <label for="{{ form.return_from.id }}", class="return_from">Return from date</label>
                    {{ form.return_from(class="form-control return_from disappear", placeholder="MM/DD/YYYY") }}
                </div>
                <div class="form-group col-md-3 ">
                    <label for="{{ form.nights_in_dst_from.id }}", class="nights_in_dst_from">nights_in_dst_from</label>
                    {{ form.nights_in_dst_from(class="form-control nights_in_dst_from disappear") }}
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="{{ form.date_to.id }}", class="date_to">Depart to date</label>
                    {{ form.date_to(class="form-control date_to", placeholder="MM/DD/YYYY") }}
                </div>
                <div class="form-group col-md-3 ">
                    <label for="{{ form.return_to.id }}", class="return_to">Return to date</label>
                    {{ form.return_to(class="form-control return_to disappear" , placeholder="MM/DD/YYYY") }}
                </div>
                <div class="form-group col-md-3 ">
                    <label for="{{ form.nights_in_dst_to.id }}", class="nights_in_dst_to">nights_in_dst_to</label>
                    {{ form.nights_in_dst_to(class="form-control nights_in_dst_to disappear") }}
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="{{ form.adults.id }}">Adults</label>
                    {{ form.adults(class="form-control") }}
                </div>
                <div class="form-group col-md-3">
                    <label for="{{ form.selected_cabins.id }}">Class</label>
                    {{ form.selected_cabins(class="form-control") }}
                </div>
                <div class="form-group col-md-3">
                    <label for="{{ form.curr.id }}">Currency</label>
                    {{ form.curr(class="form-control") }}
                </div>
            </div>
            <!-----------------------------------------------THE FIELDS TO MAKE DISAPPEAR ARE HERE---------------------------------------------->
            <div class="form-row">  
                {{ form.submit(class="btn btn-primary") }}

            </div>



        </form>
    </div>

    <!--
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Hide return date and nights in destination fields initially
            document.getElementsByClassName("return_to").style.display = "none";
            document.getElementsByClassName("return_from").style.display = "none";

            document.getElementsByClassName("nights_in_dst_from").style.display = "none";
            document.getElementsByClassName("nights_in_dst_to").style.display = "none";

            // Event handler for flight type selection
            document.getElementByClassName("flight_type").addEventListener("change", function() {
                // Get selected flight type
                var flightType = this.value;

                // Toggle visibility of return date and nights in destination fields
                if (flightType === "One-way") {
                    document.getElementsByClassName("return_from").style.display = "none";
                    document.getElementsByClassName("return_to").style.display = "none";
                    document.getElementsByClassName("nights_in_dst_from").style.display = "none";
                    document.getElementsByClassName("nights_in_dst_to").style.display = "none";
                } else if (flightType === 'Round') {
                    document.getElementsByClassName("return_from").style.display = "block";
                    document.getElementsByClassName("return_to").style.display = "block";
                    document.getElementsByClassName("nights_in_dst_from").style.display = "block";
                    document.getElementsByClassName("nights_in_dst_to").style.display = "block";
                }
            });
        });

        // Function to reset form fields when flight type is changed
        function resetFormFields() {
            document.getElementsByClassName("return_from").value = "";
            document.getElementsByClassName("return_to").value = "";
            document.getElementsByClassName("nights_in_dst_from").value = "";
            document.getElementsByClassName("nights_in_dst_to").value = "";
        }
    </script>
--

    <script>
        var inputFields = document.querySelectorAll('[class*="disappear"]'); 
        for (var i = 0; i < inputFields.length; i++) {
                        var inputField = inputFields[i];
                        inputField.style.display = 'none';
                    };
        document.querySelector('[class*="flight_type"]').addEventListener("change", function() {
                // Get selected flight type
                var flightType = this.value;

                // Toggle visibility of return date and nights in destination fields
                if (flightType === "One-way") {
                    for (var i = 0; i < inputFields.length; i++) {
                        var inputField = inputFields[i];
                        inputField.style.display = 'none';
                    };
                } else if (flightType === 'Round') {
                    for (var i = 0; i < inputFields.length; i++) {
                        var inputField = inputFields[i];
                        inputField.style.display = 'block';
                    };
                };  
            });

    </script>
-->
    <script src="{{ url_for('static',filename = 'flight_request.js') }}"></script>
</body>
</html>

{% endblock %}